<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>

<body>
    <form class="form add-spot" method="POST" action="/addSpot" >
        <!-- <input type="file" required> -->
        <input name="title" required>
        <textarea name="description" required></textarea>
        <input name="location"  id="location" hidden required>
        <button type="submit" id="submit-button">Add location</button>
    </form>
    <script>
        let locationInput = document.getElementById("location")
        let submit = document.getElementById("submit-button")
        if ("geolocation" in navigator) {
            /* la geolocalizaci칩n est치 disponible */
            navigator.geolocation.getCurrentPosition( function(position){
                let coordinates = [position.coords.longitude,position.coords.latitude]
              
                locationInput.value = coordinates
            })
        } else {

            /* la geolocalizaci칩n NO est치 disponible */
        }
    </script>
</body>

</html>